* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
    position: relative;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

/*------------------------------- Header -------------------------------*/

header.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 5em;
    background: transparent linear-gradient(93deg, #1673B0 0%, #74469C 53%, #BD3761 100%) 0% 0% no-repeat padding-box;
    border-radius: 0 0 2.5em 0;
    padding: 0;
    padding-left: min(1.5em, 2vw);
    padding-right: min(1.5em, 2vw);
    overflow: hidden;
    z-index: 2;
}

header .menu-wrap {
    cursor: pointer;
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

header .menu-wrap img {
    height: 1.25em;
}

header .logo-wrap {
    display: flex;
    align-items: center;
    flex: 5;
    cursor: pointer;
}

header .logo-wrap img {
    height: 3em;
}

header .search-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 18;
}

header .search-wrap #searchbar {
    width: 95%;
    height: 45px;
    border: 1px solid #0000000D;
    border-radius: 8px;
    box-shadow: 0px 5px 30px #00000066, inset 0 0 2px #000000aa;
    padding-left: min(3.5em, 8vw);
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    background: white url('assets/icons/search-icon.svg') 1vw 50% no-repeat padding-box;
    background-size: 25px 25px;
    transition: 0.3s ease-in-out;
}

header .search-wrap #searchbar::placeholder {
    color: #707070;
    opacity: 0.5;
}

header .search-wrap #searchbar:focus {
    outline: none;
    box-shadow: 0px 0px 10px 0px #888;
}

header .profile-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 5;
}

header .profile-wrap a:first-child img{
    height: 44px;
}

header .profile-wrap :not(a:first-child) img {
    height: 24px;
    margin: 12px 12px;
}

header .profile-wrap a:last-child img{
    margin: 4px 12px;
}

header .profile-wrap #profile-icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid white;
}

/*------------------------------- Menu -------------------------------*/

.menu {
    display: flex;
    position: relative;
    width: min(700px, 92%);
    min-height: 100vh;
}

.menu-left, .menu-right {
    width: min(350px, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 100px 1px 25px 40px;
    position: relative;
}

.menu-left::after {
    content: '';
    position: absolute;
    right: 0;
    height: 75%;
    border-right: 1px solid #ddd;
}

.menu-close {
    position: absolute;
    right: -25px;
    top: 100px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
}

.menu a.link {
    color: #000;
    text-decoration: none;
    display: block;
    font-size: 21px;
    font-weight: 600;
    margin: 10px 0;
    position: relative;
    line-height: 1;
}

.menu a.link.active, .menu .menu-right a.link {
    font-weight: 700;
}

.menu a.link.active::before {
    content: '';
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 14px;
    background: url(assets/icons/menu-back-icon.svg) no-repeat;
    background-size: contain;
}

.menu .menu-links .sublink-wrap {
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 30px;
}

.menu .menu-links .sublink-wrap a.sublink {
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    margin: 5px 0;
    position: relative;
}

.menu .menu-links .sublink-wrap a.sublink.active {
    color: #BD3761;
    z-index: 0;
}

.menu .menu-right .menu-links .sublink-wrap a.sublink.active {
    color: #1773B0;
}

.menu .menu-left .menu-links .sublink-wrap a.sublink.active::before {
    position: absolute;
    content: '';
    left: -70px;
    top: -20%;
    height: 140%;
    width: calc(100% + 70px);
    background: transparent linear-gradient(90deg, #EFEFEF 0%, #FEFCFC 100%) 0% 0% no-repeat padding-box;
    z-index: -1;
}

@media screen and (max-width:480px) {
    header.navbar {
        padding-top: 10px;
        height: fit-content;
        width: 100vw;
    }
    header .search-wrap {
        justify-content: flex-end;
        margin-right: 12px;
    }
    header .search-wrap #searchbar:not(#searchbar:focus) {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-position-x: 50%;
    }
    header .search-wrap #searchbar::placeholder {
        opacity: 0;
    }
}